 .hero{
    height: 650px;
    width: 100%;
    padding-top: 5%;
  }
  
  .container{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)),url(../images/loginbg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92%;
  }
  
  .hero .form-box{
    height:480px;
    width:380px;
    position:relative;
    /*margin: 6% auto;*/
    float: right;
    margin-right: 10%;
    background: #fff;
    /*margin-top:5%;
    margin-left:65%;*/
    overflow:hidden;
  }
  
  .hero .buttonbox{
    width:220px;
    margin: 35px auto;
    position:relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius:30px;
  }
  
  .hero .toggle-btn{
    padding: 40px 66px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: black;
  }
  
  .hero #btn{
    top: 0;
    left: 0;
    position: absolute;
    height: 20%;
    width: 50%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 0px;
    transition: .5s;
  }
  
  .hero .input-group{
    top:150px;
    position: absolute;
    width: 280px;
    transition: .5s;
    margin-left: 40px;
  }
  
  .hero .input-field{
    width:100%;
    padding: 20px 0;
    margin: 7px 0;
    border-left:0;
    border-right:0;
    border-top:0;
    border-bottom: 1px solid #999;
    outline:none;
    background:transparent;
  }
  
  .hero .submit-btn{
    width: 85%;
    padding: 15px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background:linear-gradient(to right, #ff105f,#ffad06);
    border:0;
    outline:none;
    border-radius:30px;
    margin-top:50px;
  }
  
  .hero #login{
    left:10px;
  }
  
  .hero #register{
    left:450px;
    top: 20%;
  }
  
  .hero .radio-btn{
    margin-top:30px;
    margin-right:4px;
  }
  
  .hero .radio-login{
    margin-right:10px;
    display: inline;
  }

  .popup {
    display: none; /* Hidden by default */
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: black;
  }
  
  .close-btn {
    cursor: pointer;
    float: right;
    font-size: 20px;
  }
  
  .logout button {
    margin: 0px;
    padding: 0px 20px;
    font-size: initial;
    background: #3333;
    color: white;
    border: none;
  }

  .logoutBtn{
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease
  }

 .logoutBtn:hover {
    background-color: #45a049;
}

#confirmLogout, #cancelLogout{
  padding: 10px;
  background-color: darkorange;
  font-size: medium;
  margin-top: 20px;
  border: none;
  margin-right: 20px;
}

.myprofile{
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease
  }

 .myprofile:hover {
    background-color: #45a049;
}

.welcome a {
  padding: 20px;
}

#logoutPopup1.popup{ display: flex;}

div#errmsg{
  position: absolute;
  bottom: 25px;
  margin-left: 98px;
  color: red;
}


  
  