/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}*/

header {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*padding: 20px;*/
    height: 100%;
    min-height: 67vh;
}

.property {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.2s;
    height: 65%;
}

.property:hover {
    transform: scale(1.05);
}

.property img {
    width: 100%;
    height: 165px;
    border-radius: 5px;
}
 
.view{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px;
}

.view button:hover {
    background-color: orangered;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: orange;
    color: white;
    margin-top:8%;
}
.proplisting {
    width: 83%;
    /* margin-left: 250px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

/*---------property listing sidebar filter---------*/
/* Basic styles for the sidebar */
.sidebar-propfilter {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*position: fixed;
    top: 20px;
    left: 20px;*/
    position: relative;
}

/* Title of the sidebar */
.sidebar-propfilter h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
}

/* Style for the filter sections */
.filter-section {
    margin-bottom: 20px;
    margin-top: 20px;
}

.filter-section h3 {
    font-size: 18px;
    color: #555;
}

/* Dropdown select style */
.filter-select {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-section label{
    display: contents;
    margin-bottom: 0px;
}

/* Price range slider styles */
.filter-range {
    width: 100%;
}

#price-value {
    font-weight: bold;
    color: #333;
}

/* Style for checkboxes */
.filter-section input[type="checkbox"] {
    margin-right: 8px;
}

/* Apply Filters button */
input[type="submit"].apply-filters {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left:0px;
}

.apply-filters:hover {
    background-color: #0056b3;
}
.filter-section input[type="text"] {
    padding: 10px;
}

/*---------end of property listing sidebar filter---------*/